/* CSS files add styling rules to your content */

body {
  font-family: 'Roboto Mono', monospace;
  font-size : 17px;
}

h1 {
  color: #000000;
}

p {
  font-family: 'Roboto', sans-serif;
}

p1 {
  font-family: 'Roboto Mono', cursive;
}

#selection_menu {
  font-family: 'Bungee', cursive;
  font-family: 'Roboto Mono', cursive;
  text-align: center;
  padding-bottom: 10px;
}



#background_rectangle {
  border-radius: 25px;
  background: linear-gradient(to right, #c2e59c, #64b3f4); 
  background-position: left top;
  background-repeat: repeat;
  margin: 5px;
  padding: 20px; 
  #width: 98%;
  height: 300px; 
}

#code_overlay {
  font-size: 10px;
  border-radius: 25px;
  background: rgba(149,149,149,0.3); 
  background-position: left top;
  background-repeat: repeat;
  padding: 20px; 
  #width: 1260px;
  height: 50px;
}